<h1> List of Articles  </h1>

<ul>
  <% @articles.each do |article| %>
    <li> <%= article.title %> <%= link_to 'content', articles_path %> </li>
  <% end %>
  <p> <%= link_to 'Create Article',new_article_path %> </p>
</ul>
